@keyframes duck-fly-1 {
  0% {
    top: 15vh;
  }
  50% {
    left: 14vw;
    top: 18vh;
  }
  100% {
    left: 100vw;
    top: 52vh;
  }
}
@keyframes duck-fly-2 {
  0% {
    top: 30vh;
  }
  50% {
    left: 58vw;
    top: 21vh;
  }
  100% {
    left: 100vw;
    top: 38vh;
  }
}
@keyframes duck-fly-3 {
  0% {
    top: 28vh;
  }
  50% {
    left: 45vw;
    top: 3vh;
  }
  100% {
    left: 100vw;
    top: 10vh;
  }
}
@keyframes duck-fly-4 {
  0% {
    top: 58vh;
  }
  50% {
    left: 42vw;
    top: 75vh;
  }
  100% {
    left: 100vw;
    top: 32vh;
  }
}
@keyframes duck-fly-5 {
  0% {
    top: 17vh;
  }
  50% {
    left: 16vw;
    top: 9vh;
  }
  100% {
    left: 100vw;
    top: 20vh;
  }
}
@keyframes duck-fly-6 {
  0% {
    top: 15vh;
  }
  50% {
    left: 17vw;
    top: 53vh;
  }
  100% {
    left: 100vw;
    top: 54vh;
  }
}
@keyframes duck-fly-7 {
  0% {
    top: 40vh;
  }
  50% {
    left: 34vw;
    top: 9vh;
  }
  100% {
    left: 100vw;
    top: 14vh;
  }
}
@keyframes duck-fly-8 {
  0% {
    top: 20vh;
  }
  50% {
    left: 52vw;
    top: 61vh;
  }
  100% {
    left: 100vw;
    top: 61vh;
  }
}
@keyframes duck-fly-9 {
  0% {
    top: 77vh;
  }
  50% {
    left: 31vw;
    top: 70vh;
  }
  100% {
    left: 100vw;
    top: 53vh;
  }
}
@keyframes duck-fly-10 {
  0% {
    top: 23vh;
  }
  50% {
    left: 60vw;
    top: 29vh;
  }
  100% {
    left: 100vw;
    top: 11vh;
  }
}
@keyframes duck-fly-11 {
  0% {
    top: 52vh;
  }
  50% {
    left: 3vw;
    top: 50vh;
  }
  100% {
    left: 100vw;
    top: 47vh;
  }
}
@keyframes duck-fly-12 {
  0% {
    top: 55vh;
  }
  50% {
    left: 44vw;
    top: 70vh;
  }
  100% {
    left: 100vw;
    top: 77vh;
  }
}
.body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(https://i.ytimg.com/vi/i9R8MqilMW8/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.duck-check {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}
.duck-check:checked {
  counter-increment: count;
}
.duck-check:checked ~ label {
  display: none;
}

.counter-info {
  position: absolute;
  top: 14px;
  right: 24px;
}
.counter-info::before {
  content: counter(count);
}

.duck {
  position: absolute;
  left: -80px;
}
.duck__img {
  width: 80px;
}
.duck_1 {
  animation: duck-fly-1 5s ease-in 1s both;
}
.duck_2 {
  animation: duck-fly-2 5s ease-in 2s both;
}
.duck_3 {
  animation: duck-fly-3 5s ease-in 3s both;
}
.duck_4 {
  animation: duck-fly-4 5s ease-in 4s both;
}
.duck_5 {
  animation: duck-fly-5 5s ease-in 5s both;
}
.duck_6 {
  animation: duck-fly-6 5s ease-in 6s both;
}
.duck_7 {
  animation: duck-fly-7 5s ease-in 7s both;
}
.duck_8 {
  animation: duck-fly-8 5s ease-in 8s both;
}
.duck_9 {
  animation: duck-fly-9 5s ease-in 9s both;
}
.duck_10 {
  animation: duck-fly-10 5s ease-in 10s both;
}
.duck_11 {
  animation: duck-fly-11 5s ease-in 11s both;
}
.duck_12 {
  animation: duck-fly-12 5s ease-in 12s both;
}/*# sourceMappingURL=style.css.map */