.body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(https://i.ytimg.com/vi/i9R8MqilMW8/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.duck-check {
  @extend %hide;

  &:checked {
    counter-increment: count;
  }

  &:checked~label {
    display: none;
  }
}

.counter-info {
  position: absolute;
  top: 14px;
  right: 24px;

  &::before {
    content: counter(count) " / #{$countDuck}";
  }
}

.duck {
  position: absolute;
  left: -$duckWidth;

  &__img {
    width: $duckWidth;
  }

  // @for $i from 1 through $countDuck {
  //   &_#{$i} {
  //     animation: duck-fly-#{$i} 5s ease-in #{$i}s both;
  //   }
  // }
}