.start-checkbox, .duck-check {
  position: absolute;
  visibility: hidden;
  left: -99999px;
}

@keyframes duck-fly-1 {
  0% {
    top: 44vh;
  }
  50% {
    left: 7vw;
    top: 9vh;
  }
  100% {
    left: 100vw;
    top: 34vh;
  }
}
@keyframes duck-fly-2 {
  0% {
    top: 8vh;
  }
  50% {
    left: 16vw;
    top: 69vh;
  }
  100% {
    left: 100vw;
    top: 48vh;
  }
}
@keyframes duck-fly-3 {
  0% {
    top: 36vh;
  }
  50% {
    left: 49vw;
    top: 59vh;
  }
  100% {
    left: 100vw;
    top: 44vh;
  }
}
@keyframes duck-fly-4 {
  0% {
    top: 26vh;
  }
  50% {
    left: 58vw;
    top: 66vh;
  }
  100% {
    left: 100vw;
    top: 80vh;
  }
}
@keyframes duck-fly-5 {
  0% {
    top: 46vh;
  }
  50% {
    left: 29vw;
    top: 1vh;
  }
  100% {
    left: 100vw;
    top: 1vh;
  }
}
@keyframes duck-fly-6 {
  0% {
    top: 1vh;
  }
  50% {
    left: 14vw;
    top: 25vh;
  }
  100% {
    left: 100vw;
    top: 56vh;
  }
}
@keyframes duck-fly-7 {
  0% {
    top: 8vh;
  }
  50% {
    left: 27vw;
    top: 47vh;
  }
  100% {
    left: 100vw;
    top: 18vh;
  }
}
@keyframes duck-fly-8 {
  0% {
    top: 72vh;
  }
  50% {
    left: 41vw;
    top: 79vh;
  }
  100% {
    left: 100vw;
    top: 30vh;
  }
}
@keyframes duck-fly-9 {
  0% {
    top: 48vh;
  }
  50% {
    left: 56vw;
    top: 58vh;
  }
  100% {
    left: 100vw;
    top: 68vh;
  }
}
@keyframes duck-fly-10 {
  0% {
    top: 78vh;
  }
  50% {
    left: 38vw;
    top: 38vh;
  }
  100% {
    left: 100vw;
    top: 70vh;
  }
}
@keyframes duck-fly-11 {
  0% {
    top: 26vh;
  }
  50% {
    left: 34vw;
    top: 60vh;
  }
  100% {
    left: 100vw;
    top: 40vh;
  }
}
@keyframes duck-fly-12 {
  0% {
    top: 45vh;
  }
  50% {
    left: 21vw;
    top: 39vh;
  }
  100% {
    left: 100vw;
    top: 70vh;
  }
}
.body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.duck-check:checked {
  counter-increment: count;
}
.duck-check:checked ~ label {
  display: none;
}

.counter-info {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: 2px solid;
  border-radius: 999px;
  padding: 1.2rem 2rem;
}
.counter-info::before {
  content: counter(count) " / 12";
}

.duck {
  position: absolute;
  left: -80px;
}
.duck__img {
  width: 80px;
}

.menu {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
}
.menu__start, .menu__start *, .menu__start:after, .menu__start:before, .menu__start:after, .menu__start:before {
  border: 0 solid;
  box-sizing: border-box;
}
.menu__start {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  transition: background-color 0.2s;
}
.menu__start:disabled {
  cursor: default;
}
.menu__start:-moz-focusring {
  outline: auto;
}
.menu__start svg {
  display: block;
  vertical-align: middle;
}
.menu__start [hidden] {
  display: none;
}
.menu__start {
  border: 2px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.menu__start span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.menu__start:before {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.menu__start:active {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(0.25em);
}
.menu__start:hover {
  background-color: #292929;
}

#gameStart:checked ~ .game .duck_1 {
  animation: duck-fly-1 5s ease-in 1s both;
}
#gameStart:checked ~ .game .duck_2 {
  animation: duck-fly-2 5s ease-in 2s both;
}
#gameStart:checked ~ .game .duck_3 {
  animation: duck-fly-3 5s ease-in 3s both;
}
#gameStart:checked ~ .game .duck_4 {
  animation: duck-fly-4 5s ease-in 4s both;
}
#gameStart:checked ~ .game .duck_5 {
  animation: duck-fly-5 5s ease-in 5s both;
}
#gameStart:checked ~ .game .duck_6 {
  animation: duck-fly-6 5s ease-in 6s both;
}
#gameStart:checked ~ .game .duck_7 {
  animation: duck-fly-7 5s ease-in 7s both;
}
#gameStart:checked ~ .game .duck_8 {
  animation: duck-fly-8 5s ease-in 8s both;
}
#gameStart:checked ~ .game .duck_9 {
  animation: duck-fly-9 5s ease-in 9s both;
}
#gameStart:checked ~ .game .duck_10 {
  animation: duck-fly-10 5s ease-in 10s both;
}
#gameStart:checked ~ .game .duck_11 {
  animation: duck-fly-11 5s ease-in 11s both;
}
#gameStart:checked ~ .game .duck_12 {
  animation: duck-fly-12 5s ease-in 12s both;
}

#gameStart:checked ~ .menu > .menu__start:before {
  animation: progress-bar 1.2s;
}

#gameStart:checked ~ .menu {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear 0.5s, opacity 0.3s linear;
  transition-delay: 1s;
}
@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */